h3{
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}
h2{
	border-bottom: 2px solid #75757A;
}
li{
    font-family: 'Montserrat', sans-serif;
}

ol{
	padding-left: 40px;
}
ol li{
	list-style: inherit;
	padding-bottom: 8px;
    font-size: 1.2rem;
}

ol li a{
    color: #87B569;
    /*color: #87B569;*/
}
ol li a:visited{
    color: #87B569;
    /*color: #87B569;*/
}
ol li a:hover{
    color: #87B569;
    /*color: #87B569;*/
    text-decoration: underline;
}
ol li a:active{
    color: #557A3B;
    text-decoration: underline;
}